# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDE/Editor
*.iml
*.ipr
*.iws
.idea/
.vscode/    # Uncomment nếu muốn ignore VS Code config

# Flutter/Dart/Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Generated plugin registrants
linux/flutter/generated_*
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/generated_*

# Android
/android/app/build/
android/.gradle/
/android/app/debug
/android/app/profile
/android/app/release

# iOS
ios/Pods/
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*

# Node.js / backend
node_modules/
*.env
backend/smartwarehousemanager-1523c-firebase-adminsdk-*.json

# Obfuscation / symbolication
app.*.symbols
app.*.map.json
